:root {
	--bg-form: #2493b3;
	--text-form: white;
}

form {
	display: grid;
	gap: 1rem;
	background-color: var(--bg-form);
	padding: 3rem;
	color: var(--text-form);
	border-radius: 1rem;
	width: 30rem;
}
input {
	border: none;
	border-radius: 0.2rem;
}
.user-info-field {
	display: flex;
	flex-direction: column;
	gap: .8rem;
}
.toppings-flex {
	display: flex;
	flex-direction: column;
}
.radio {
	padding-left: 1rem;
	padding-top: 0.5rem;
}
.grid-switch {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: .8rem;
}
.submit-button {
	display: inline-block;
	color: var(--bg-form);
	padding: 0.7rem;
	border: none;
	margin: auto;
	border-radius: 0.5rem;
	cursor: pointer;
}
.icecream-flavor {
	width: 100%;
}
@media (max-width: 650px) {
	.grid-switch {
		grid-template-columns: 1fr;
		gap: .2rem;
	}
	form {
		width: auto;
		margin: 1rem;
	}
}
