nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #f3952f;
    font-weight: bold;
}

nav a:hover {
    color: #fed330;
}

header {
    /*   display: grid; */
    /*   grid-template-columns: 1fr 1fr; */
    padding-left: 1rem;
    padding-right: 1rem;
}

header img {
    min-height: 4rem;
}

header p {
    text-align: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

@media (min-width: 800px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header p {
        text-align: start;
    }

    nav ul {
        padding-top: 3.6rem;
    }
}