/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Tenor+Sans&display=swap");

/* colors */
:root {
	--bg-primary: #f4e8d8;
	--font-headers: "Paytone One", sans-serif;
	--font-body: "Tenor Sans";
	--h1: #8a23ff;
	--h2: #f123ff;
}

body {
	background-color: var(--bg-primary);
	font-family: var(--font-body);
}
.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	font-family: var(--font-headers);
	color: var(--h1);
	margin: 0;
}
h2 {
	font-family: var(--font-headers);
	color: var(--h2);
	margin-top: 0;
}