/* facilitates sticky footer */
.app-container {
    position: absolute;
    min-height: 100%;
	width: 100%;
}
.content-wrap {
    padding-bottom: 2.5rem;
}

/* headings */
h1 {
	font-family: var(--font-headers);
	color: var(--h1);
	margin: 0;
}
h2 {
	font-family: var(--font-headers);
	color: var(--h2);
	margin-top: 0;
}